.container{display:flex;}
.container input{width:100%}
table{width:100%;table-layout:fixed;border-collapse:collapse;}
table th,table td{border:1px solid #ccc;text-align:center}
.hide{display:none}
.container{padding:5%}
input{line-height: 25px;}